.App {
  text-align: center;
}

.App-header {
  background-image:url("https://cdn.dribbble.com/users/3457/screenshots/2006659/animated-svg.gif");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

