.App {
  text-align: center;
  background-image:url("https://cdn.dribbble.com/users/3457/screenshots/2006659/animated-svg.gif");
  background-size: 100% auto;
  background-color: #1d2737;
  background-repeat: no-repeat;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
